html {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

header{
	/*position: fixed;*/
}

#menu-bar {
    display: flex;
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    justify-content: space-between;
    align-items: center;
    background: #4D4D4C;
    -webkit-app-region: drag;
}

#menu-bar > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menubar-btn{
	font-weight: 600;
    padding: 1rem 0rem;
    -webkit-app-region: no-drag;
    height: 100%;
    padding: 12px 15px;
    border: none;
    background: transparent;
    outline: none;
    color: #ffffff;
    font-size: 16px;
}

.menubar-btn:hover {
    background: #999997;
}


body{
	background-color: #efdecd;
    margin: 0px;
    color: #656564;
}

#body-div{
    margin: 8px;
}


/***************************************************************************/

#container {
	margin: 0 5%;
}

.code{
	background-color: #000000;
	color: #ffffff;
	padding: 8px;
	margin-bottom: 24px;
	font-family:  Menlo, Consolas, Monaco, monospace;
	font-size: 14px;
	display: inline-block;
	border: 1px solid #aaaaaa;
	border-bottom: 3px solid #777777;
	border-right: 2px solid #777777;
	border-radius: 3px;
}

footer{
	text-align: center;
	padding: 3%;
}

p{
	margin-bottom: 8px;
}


a{
	color: #345989;
	text-decoration: none;
}

a:hover, a:focus{
	color: #345989;
	text-decoration: underline;
}

h3 {
	margin-bottom: 0px;
	margin-top: 40px;
}

h2 {
	margin-top: 60px;
}

table {
 	border-collapse: collapse;
}
td, th {
	border: 1px solid #666666;
	text-align: left;
	padding: 8px;
}
th{
	border: 1px solid #444444;
}
tr:nth-child(odd) {
	background-color: #cdcdcd;
}
tr:nth-child(even) {
	background-color: #efefef;
}
th{
	background-color:#999999!important;
	color: #4C4544;
}

var{
	font-size: 87.5%;
	font-weight: 500;
	background-color: #282923;
	border: 1px solid #aaaaaa;
	border-bottom: 3px solid #777777;
	border-right: 2px solid #777777;
	border-radius: 3px;
	padding: 2px 4px;
	color: #fd9622;
	font-family: Menlo, Consolas, Monaco, monospace;
}

#header-spacing{
	min-height: 30px;
}


/***************************************************************************/

/*based on monokai colors*/
.red{
	color: #f92460!important;
}
.orange{
	color: #fd9622!important;
}
.yellow{
	color: #e7db74!important;
}
.green{
	color: #a6e22b!important;
}
.blue{
	color: #67d8ef!important;
}
.purple{
	color: #AC80FF!important;
}
.white{
	color: #ffffff!important;
}



/************************************************************************/
@media only screen and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
	#header-spacing{
		min-height: 6vw;
	}
	.menubar-btn{
		font-size: 3vw;
		padding: 2vw;
	}

	h1{
		font-size: 6vw;
	}

	h2 {
		font-size: 5vw;
	}

	h3 {
		font-size: 4vw;
	}

	h4{
		font-size: 4vw;
	}

	p {
		font-size: 2vw;
	}

	ul{
		font-size: 3vw;
	}

	.code{
		font-size: 2vw;
	}

	table{
		font-size: 2vw;
	}
}


@media only screen and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	#header-spacing{
		min-height: 10vw;
	}
	.menubar-btn{
		font-size: 4.3vw;
		padding: 2.5vw;
	}

	h1{
		font-size: 10vw;
	}

	h2 {
		font-size: 8vw;
	}

	h3 {
		font-size: 6vw;
	}

	h4{
		font-size: 5vw;
	}

	p {
		font-size: 3vw;
	}

	ul{
		font-size: 4vw;
	}

	.code{
		font-size: 3vw;
	}

	table{
		font-size: 3vw;
	}
}